body{
    padding: 0px;
    margin: 0px;
    direction: rtl;
    
}

@font-face {
    font-family: 'g';
    src:url(../font/Gulzar-Regular.ttf);
}
.back_img{
    position: fixed;
    z-index: -1;
    opacity: 0.5;
    top:0;
    width: 100vw;
    height: auto;
}

body{
    font-family: g;
}

body h1{
    text-align: center;
    text-shadow: purple 2px 2px;
    padding-bottom: 60px;
}

nav ul li {
    float: right;
}
nav ul li{
    display: inline-block;
    padding-left: 20px;
    margin-top: 20px;
    
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    background-color: rgb(156, 92, 50);

}
nav{
    top: 0;
    position: sticky;
    height: 80px;
    z-index: 1;
    background-color: rgb(224, 130, 68);
}
nav ul li:nth-last-child(-n+2){
    float: left;
    font-weight: bold;

}

body h2{
    margin: 30px 25px;
    font-size: 20px;
}

.picture{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 50px;
    row-gap: 20px;
}
.picture>img{
    width: 28vw;
    height: 300px;
    border: 2px solid rgb(224, 130, 68);
    border-radius: 25px;
    
}
@keyframes menu_move{
    0%{transform: translate(6px,0px);}
    36%{transform: translate(-6px,0px);}
    66%{transform: translate(-6px,0px);}
    100%{transform: translate(6px,0px);}

}
nav ul li a:hover{
    animation: menu_move 0.8s;
    animation-iteration-count:  infinite;   
}
.picture img:hover{
    transform: scale(2.05);
    opacity: 0.9;
    border-radius: 30px;
}