@font-face {
    font-family: golzar;
    src: url(../fonts/Gulzar/Gulzar-Regular.ttf);
}
@font-face {
    font-family: dance;
    src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: handwriting;
    src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
