div.big-picture{
    display: flex;
    justify-content: space-between;
    width: 98vw;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

div.description{
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    width: 45vw;
    line-height: 1.5cm;
}
div.description label, div.description input{
    display: inline-block;
}
div.description label{
    text-align: right;
    width: 15%;
    font-size: 1.3em;
}
label+input{
    width: 75%;
    height: 5vh;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
}
label+input:focus{
    width: 75%;
    height: 5vh;
    border: 2px solid red;
}

div.description p{
    margin-right: 32px;
    font-size: 2em;
}
div.description span{
    margin-right: 32px;
    font-size: 1em;
    text-align: right;
}
div.description span.price-order{
    align-self: flex-start;
    font-size: 2em;
    margin-bottom: 0.4cm;
}

div.big-picture img{
    display: flex;
    flex-direction: column;
    width: 45vw;
    height: 40vw;
}

div.big-picture input[type='submit']{
    float: left;
    margin: 6px 30px;
    padding: 0 28px;
    background-color: whitesmoke;
    color: black;
    border-radius: 24px;
    font-size: 24px;
    border: 0px;
    font-family: golzar;
    transition: background-color 0.3s;
}
div.big-picture input[type='submit']:hover{
    background-color: black;
    color: whitesmoke;
}

#up-arrow{
    position: sticky;
    top: 10px;
    bottom: 10px;
    right: 1vw;
    background-color: orange;
    padding: 10px 16px;
    outline: none;
    border: 6px groove orange;
    border-radius: 50%;
    opacity: 0.5;
}
#up-arrow:hover{
    opacity: 1;
}
#up-arrow:active{
    border: 6px ridge orange;
}

.message{
    font-size: 28px !important;
    animation: change_color 3s;
    animation-iteration-count:  infinite;
}

@keyframes change_color {
    0% { color: blue}
    33% { color: green }
    66% { color: red }
    100% { color: blue }
    0% { scale: 1}
    25% { scale: 1.15 }
    50% { scale: 1 }
    75% { scale: 1.15 }
    100% { scale: 1 }
}